include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include elections *.css
recursive-include elections *.csv
recursive-include elections *.html
recursive-include elections *.ico
recursive-include elections *.js
recursive-include elections *.json
recursive-include elections *.md
recursive-include elections *.png
recursive-include elections *.py
recursive-include elections *.svg
recursive-include elections *.txt
recursive-exclude elections *.pyc
